<html>
  <head>
    <title>chart</title>
    <style>
      #dashboard_div {
        width: 600px;
        border: 1px solid #ccc;
      }
      #chart_div {
        height: 400px;
        border-bottom: 1px solid #ccc;
      }
      #filter_div {
        height: 50px;
      }
    </style>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/js/bitflyer-chart.js"></script>
  </head>
  <body>
    <div>
      SMA
      <input type="checkbox" id="sma" />
      <input type="text" id="smaPeriod1" value="7" />
      <input type="text" id="smaPeriod2" value="14" />
      <input type="text" id="smaPeriod3" value="50" />
    </div>
    <div id="dashboard_div">
      <div id="chart_div"></div>
      <div id="filter_div"></div>
    </div>
  </body>
</html>
