<html>
  <head>
    <title>chart</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/js/bitflyer-chart.js"></script>
  </head>
  <body>
    <div>
      <button onclick="changeDuration('1s')">1s</button>
      <button onclick="changeDuration('1m')">1m</button>
      <button onclick="changeDuration('1h')">1h</button>
    </div>
    <div>
      SMA
      <input
        type="checkbox"
        id="sma"
        onchange="switchIndicator('sma', this.checked)"
      />
      <input
        type="text"
        class="smaPeriod"
        value="7"
        oninput="changePeriods('sma', this.value, 0)"
      />
      <input
        type="text"
        class="smaPeriod"
        value="14"
        oninput="changePeriods('sma', this.value, 1)"
      />
      <input
        type="text"
        class="smaPeriod"
        value="50"
        oninput="changePeriods('sma', this.value, 2)"
      />
    </div>
    <div>
      EMA
      <input
        type="checkbox"
        id="ema"
        onchange="switchIndicator('ema', this.checked)"
      />
      <input
        type="text"
        class="emaPeriod"
        value="7"
        oninput="changePeriods('ema', this.value, 0)"
      />
      <input
        type="text"
        class="emaPeriod"
        value="14"
        oninput="changePeriods('ema', this.value, 1)"
      />
      <input
        type="text"
        class="emaPeriod"
        value="50"
        oninput="changePeriods('ema', this.value, 2)"
      />
    </div>
    <div>
      BBands
      <input
        type="checkbox"
        id="bbands"
        onchange="switchIndicator('bbands', this.checked)"
      />
      <input
        type="text"
        id="bbandsPeriod"
        value="20"
        oninput="changePeriod('bbands', this.value)"
      />
      <input type="test" id="bbandsK" value="2" />
      <select id="bbandsMAType">
        <option value="sma" selected>SMA</option>
        <option value="ema">EMA</option>
        <option value="wma">WMA</option>
        <option value="dema">DEMA</option>
        <option value="tema">TEMA</option>
        <option value="trima">TRIMA</option>
      </select>
    </div>
    <div>
      Volume
      <input type="checkbox" id="volume" />
    </div>
    <div>
      RSI
      <input
        id="rsi"
        type="checkbox"
        onchange="switchIndicatorOfTechnicalChart('rsi', this.checked, 'rsi_div')"
      />
      <input
        type="text"
        value="14"
        onchange="changePeriod('rsi', this.value)"
      />
    </div>
    <div>
      MACD
      <input
        id="macd"
        type="checkbox"
        onchange="switchIndicatorOfTechnicalChart('macd', this.checked, 'macd_div')"
      />
      <input
        type="text"
        value="9"
        onchange="() => {
          config.macd.fastPeriod = this.value;
        }"
      />
      <input
        type="text"
        value="26"
        onchange="() => {
          config.macd.slowPeriod = this.value;
        }"
      />
      <input
        type="text"
        value="12"
        onchange="() => {
          config.macd.signalPeriod = this.value;
        }"
      />
    </div>
    <div>
      HV
      <input
        id="hv"
        type="checkbox"
        onchange="switchIndicatorOfTechnicalChart('hv', this.checked, 'hv_div')"
      />
      <input
        type="text"
        value="21"
        class="hvPeriod"
        onchange="changePeriods('hv', this.value, 0)"
      />
      <input
        type="text"
        value="63"
        class="hvPeriod"
        onchange="changePeriods('hv', this.value, 1)"
      />
      <input
        type="text"
        value="252"
        class="hvPeriod"
        onchange="changePeriods('hv', this.value, 2)"
      />
    </div>
    <div>
      Events
      <input type="checkbox" id="event" />
      <div id="profit"></div>
    </div>
    <div id="dashboard_div">
      <div id="chart_div"></div>
      <div id="technical_div"></div>
      <div id="filter_div"></div>
    </div>
  </body>
</html>
